<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>乐优商城--购物车页面</title>

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-cart.css"/>
</head>

<body>

<div id="cartApp">

    <div class="top">
        <shortcut/>
    </div>

    <div class="cart py-container">

        <!--logoArea-->
        <div class="logoArea">
            <div class="fl logo"><span class="title">购物车</span></div>
        </div>

        <!--All goods-->
        <div class="allgoods">
            <h4>全部商品<span>{{carts.length}}</span></h4>
            <div class="cart-main">
                <div class="yui3-g cart-th">
                    <div class="yui3-u-1-4"><input type="checkbox" v-model="checkedAll"/> 全部</div>
                    <div class="yui3-u-1-4">商品</div>
                    <div class="yui3-u-1-8">单价（元）</div>
                    <div class="yui3-u-1-8">数量</div>
                    <div class="yui3-u-1-8">小计（元）</div>
                    <div class="yui3-u-1-8">操作</div>
                </div>
                <div class="cart-item-list">

                    <div class="cart-body">
                        <div class="cart-list">
                            <ul class="goods-list yui3-g" v-for="(cart,index) in carts" :key="index">
                                <li class="yui3-u-1-24">
                                    <input type="checkbox" v-model="selected" name="selected" :value="cart"/>
                                </li>
                                <li class="yui3-u-11-24">
                                    <div class="good-item">
                                        <div class="item-img"><img :src="cart.image" width="80px" height="80px"/>
                                        </div>
                                        <div class="item-msg">
                                            <p style="padding-top:10px ">{{cart.title}}</p>
                                            <span style="padding: 0 10px" v-for="(v,k) in cart.ownSpec"
                                                  :key="k">{{k}}：{{v}}</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="yui3-u-1-8"><span style="line-height:70px " class="price">{{ly.formatPrice(cart.price)}}</span>
                                </li>
                                <li class="yui3-u-1-8" style="padding-top: 20px">
                                    <a href="javascript:void(0)" class="increment mins" @click="decrement(cart)">-</a>
                                    <input autocomplete="off" type="text" disabled v-model="cart.num" minnum="1"
                                           class="itxt"/>
                                    <a href="javascript:void(0)" class="increment plus" @click="increment(cart)">+</a>
                                </li>
                                <li class="yui3-u-1-8"><span style="line-height:70px " class="sum">{{ly.formatPrice(cart.price*cart.num)}}</span>
                                </li>
                                <li class="yui3-u-1-8">
                                    <a href="javascript:;" @click="deleteCart(index)">删除</a><br/>
                                    <a href="javascript:;">移到我的关注</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cart-tool">
                <div class="select-all">
                    <input type="checkbox" v-model="checkedAll"/>
                    <span>全选</span>
                </div>
                <div class="option">
                    <a href="javascript:;" @click="deleteSelected()">删除选中的商品</a>
                    <a href="#none">移到我的关注</a>
                    <a href="#none">清除下柜商品</a>
                </div>
                <div class="toolbar">
                    <div class="chosed">已选择<span>0</span>件商品</div>
                    <div class="sumprice">
                        <span><em>总价（不含运费） ：</em><i class="summoney">{{totalPrice}}</i></span>
                        <span><em>已节省：</em><i>-¥20.00</i></span>
                    </div>
                    <div class="sumbtn">
                        <a class="sum-btn" href="javascript:;" @click="toOrderInfo()">结算</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="deled">
                <span>已删除商品，您可以重新购买或加关注：</span>
                <div class="cart-list del">
                    <ul class="goods-list yui3-g">
                        <li class="yui3-u-1-2">
                            <div class="good-item">
                                <div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
                            </div>
                        </li>
                        <li class="yui3-u-1-6"><span class="price">8848.00</span></li>
                        <li class="yui3-u-1-6">
                            <span class="number">1</span>
                        </li>
                        <li class="yui3-u-1-8">
                            <a href="#none">重新购买</a>
                            <a href="#none">移到我的关注</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="liked">
                <ul class="sui-nav nav-tabs">
                    <li class="active">
                        <a href="#index" data-toggle="tab">猜你喜欢</a>
                    </li>
                    <li>
                        <a href="#profile" data-toggle="tab">特惠换购</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="tab-content">
                    <div id="index" class="tab-pane active">
                        <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul>
                                        <li>
                                            <img src="img/like1.png"/>
                                            <div class="intro">
                                                <i>Apple苹果iPhone 6s (A1699)</i>
                                            </div>
                                            <div class="money">
                                                <span>$29.00</span>
                                            </div>
                                            <div class="incar">
                                                <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i
                                                        class="car"></i><span class="cartxt">加入购物车</span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="img/like2.png"/>
                                            <div class="intro">
                                                <i>Apple苹果iPhone 6s (A1699)</i>
                                            </div>
                                            <div class="money">
                                                <span>$29.00</span>
                                            </div>
                                            <div class="incar">
                                                <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i
                                                        class="car"></i><span class="cartxt">加入购物车</span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="img/like3.png"/>
                                            <div class="intro">
                                                <i>Apple苹果iPhone 6s (A1699)</i>
                                            </div>
                                            <div class="money">
                                                <span>$29.00</span>
                                            </div>
                                            <div class="incar">
                                                <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i
                                                        class="car"></i><span class="cartxt">加入购物车</span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="img/like4.png"/>
                                            <div class="intro">
                                                <i>Apple苹果iPhone 6s (A1699)</i>
                                            </div>
                                            <div class="money">
                                                <span>$29.00</span>
                                            </div>
                                            <div class="incar">
                                                <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i
                                                        class="car"></i><span class="cartxt">加入购物车</span></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul>
                                        <li>
                                            <img src="img/like1.png"/>
                                            <div class="intro">
                                                <i>Apple苹果iPhone 6s (A1699)</i>
                                            </div>
                                            <div class="money">
                                                <span>$29.00</span>
                                            </div>
                                            <div class="incar">
                                                <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i
                                                        class="car"></i><span class="cartxt">加入购物车</span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="img/like2.png"/>
                                            <div class="intro">
                                                <i>Apple苹果iPhone 6s (A1699)</i>
                                            </div>
                                            <div class="money">
                                                <span>$29.00</span>
                                            </div>
                                            <div class="incar">
                                                <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i
                                                        class="car"></i><span class="cartxt">加入购物车</span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="img/like3.png"/>
                                            <div class="intro">
                                                <i>Apple苹果iPhone 6s (A1699)</i>
                                            </div>
                                            <div class="money">
                                                <span>$29.00</span>
                                            </div>
                                            <div class="incar">
                                                <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i
                                                        class="car"></i><span class="cartxt">加入购物车</span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="img/like4.png"/>
                                            <div class="intro">
                                                <i>Apple苹果iPhone 6s (A1699)</i>
                                            </div>
                                            <div class="money">
                                                <span>$29.00</span>
                                            </div>
                                            <div class="incar">
                                                <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i
                                                        class="car"></i><span class="cartxt">加入购物车</span></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a>
                            <a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
                        </div>
                    </div>
                    <div id="profile" class="tab-pane">
                        <p>特惠选购</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script type="text/javascript">
    var cartVm = new Vue({
        el: "#cartApp",
        data: {
            ly: ly,
            carts: [],// 购物车数据
            selected: [], //勾选的商品
            checkedAll: true
        },
        watch: {
            checkedAll(nv) {
                if (nv) {
                    this.selected = this.carts;
                } else {
                    this.selected.length == this.carts.length ? this.selected = [] : null;
                }
            },
            selected(v) {
                //监听选择，长度相等即全选
                this.checkedAll = (v.length == this.carts.length);
            }
        },
        computed: {
            totalPrice() {
                return ly.formatPrice(this.selected.reduce((c1, c2) => c1 + c2.num * c2.price, 0));
            }
        },
        created() {
            this.loadCarts();
        }
        ,
        components: {
            shortcut: () => import("/js/pages/shortcut.js")
        }
        ,
        methods: {
            loadCarts() {
                ly.verifyUser().then((res) => {
                    //已经登录
                    //先判断localStorange中有没有数据，有的话先进行合并
                    let temp = ly.store.get("carts");
                    if (temp && temp.length) {
                        temp = temp.map(({skuId, num}) => {
                            return {skuId: skuId, num: num}
                        });
                        ly.http.post("/cart/merge", temp).then(() => {
                            ly.http.get("/cart?t=" + new Date().getTime()).then(({data}) => {
                                this.carts = data;
                                //默认全部选中
                                this.selected = this.carts;
                            });
                            //将本地的购物车干掉
                            ly.store.del("carts");
                        }).catch(() => {
                            alert('出错了');
                        });
                    } else {
                        //没有直接请求
                        ly.http.get("/cart?t=" + new Date().getTime()).then(({data}) => {
                            this.carts = data;
                            //默认全部选中
                            this.selected = this.carts;
                        })
                    }
                }).catch(() => {
                    //未登录
                    this.carts = ly.store.get("carts") || [];
                    //默认全部选中
                    this.selected = this.carts;
                })
            }
            ,
            increment(c) {
                c.num++;
                ly.verifyUser().then(() => {
                    //已登录，向后台发起请求
                    ly.http.put("/cart", {skuId: c.skuId, num: c.num});
                }).catch(() => {
                    // 未登录，直接操作本地数据
                    ly.store.set("carts", this.carts);
                })
            }
            ,
            decrement(c) {
                c.num > 1 && c.num--;
                ly.verifyUser().then(() => {
                    //已登录，向后台发起请求
                    ly.http.put("/cart", {skuId: c.skuId, num: c.num});
                }).catch(() => {
                    // 未登录，直接操作本地数据
                    ly.store.set("carts", this.carts);
                })
            }
            ,
            clearCart(index) {
                // 删除选中的
                if (index.length == 1) {
                    //只删除一件，可能点击的不是删除选中的商品按钮,由于是地址引用需要copy
                    //防止-1，删除的不是选中的那个
                    let index2 = this.selected.indexOf(this.carts[index[0]]);
                    if (index2 >= 0) {
                        let temp = [];
                        Object.assign(temp, this.selected);
                        temp.splice(index2, 1);
                        this.selected = temp;
                    }
                } else {
                    //点击的是删除选中的商品按钮，选中的已经被删除，直接清空
                    this.selected = [];
                }
                //删除购物车
                index.forEach((item, i) => {
                    //每次删除一个后下表会往前移一位,前面删除了几个就往前几位，已经排过序
                    item -= i;
                    this.carts.splice(item, 1);
                });
            },
            deleteCart(index) {
                index = Array.isArray(index) ? index.sort() : [index];
                ly.verifyUser().then(res => {
                    // 已登录购物车,根据选择的下标获取选择的sku的id集合
                    let skuIds = index.map(i => this.carts[i].skuId);
                    ly.http.delete("/cart/" + skuIds.join(',')).then(() => {
                        this.clearCart(index);
                    });
                }).catch(() => {
                    this.clearCart(index);
                    ly.store.set("carts", this.carts);
                })
            },
            deleteSelected() {
                if (this.selected.length == 0) {
                    //没有选择不处理
                    return;
                }
                let indexs = [];
                this.selected.forEach(item => {
                    indexs.push(this.carts.indexOf(item));
                });
                this.deleteCart(indexs);
            },
            toOrderInfo() {
                //判断是否勾选商品，没有不处理
                if (this.selected.length < 1) {
                    return;
                }
                // 判断是否登录
                ly.verifyUser().then(() => {
                    //先将勾选的商品记录下来
                    ly.store.set("selectedCarts", this.selected);
                    // 已登录
                    window.location.href = "/getOrderInfo.html";
                }).catch(() => {
                    // 未登录
                    window.location.href = "/login.html?returnUrl=" + window.location.href;
                })
            }
        }
    })
</script>
<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<div class="clearfix footer"></div>
<script type="text/javascript">$(".footer").load("foot.html");</script>
<!--页面底部END-->
<script type="text/javascript" src="js/plugins/jquery.easing/easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
</body>

</html>